.form-control.is-valid ~ .invalid-feedback {
    display: none;
}

.container {
    margin-top: 20px;
}

.card button {
    width: 100%;
    background-color: rgb(237, 100, 100);
    border: none;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

